body {
    background-image: url('../images/bgnokia.png');
    background-repeat: no-repeat;
}

#phone button {
    height: 40px;
    width: 55px;
    margin: 20%;   
    border-radius: 15px;    
}
  
#phone button span {
    display: block;
    margin-top: 5px;
    font-size: 10px;
}
  
#result {
    width: 130px;
    height: 85px;
    margin-left:25px;
    margin-top: 125px;
}

#codigo, #resposta {
    font-size: 30px;
}
